.footerLogo {
  width: 200px;
  height: 200px;
}
.navLogo {
  width: 194.3px;
  height: 75px;
}
.homeImage {
  height: 600px;
  width: 960px;
  margin: 0 auto;
}
.heroImage {
  width: 960px;
  height: 600px;
  margin: 0 auto;
}

.heroSection {
  position: relative;
}
.heroLogo {
  width: 194.3px;
  height: 75px;
  position: absolute;
  top: -30px;
  left: 600px;
}
.heroText {
  background-color: black;
  padding-left: 20px;
  width: 40vw;
  position: absolute;
  bottom: 0px;
  left: 180px;
}
hr {
  color: gray;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
}
.homeSection2 {
  width: 80vw;
  margin: 0 auto;
  padding: 50px 0;
}
@media (max-width: 768px) {
  .heroSection {
    padding-top: 30px;
  }
  .homeImage {
    height: 297px;
    width: 476px;
  }
  .topNav {
    display: none;
  }
  .heroLogo {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 80px;
  }
  .heroText {
    margin: 0 auto;
    left: 0;
    width: 80vw;
    padding-left: 0;
    position: relative;
  }
  .heroImage {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }
  .footer {
    text-align: center !important;
  }
  .footer-social-links {
    text-align: center !important;
  }
  .footerLogo {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .navSocial {
    display: none;
  }
}
